<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Weather</title>
       <link rel="icon" href="./img/Icons8-Ios7-Weather-Partly-Cloudy-Rain.ico">
		<link rel="stylesheet" href="./css/style.css" />
		<script src="./js/app.js"></script>
	</head>
	<body>
		<div class="main-content">
{{>header}}
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis quod
			a voluptatum omnis sit officia animi. Reiciendis voluptas temporibus
			quam tenetur vel quaerat similique, sint labore, at, ad rem odio!
		</p>
        </div><div><img src="./img/index.jpeg" alt="Me" /></div>
        {{>footer}}
	</body>
</html>